/* built-in bootstrap class */
/*
.m-0 { margin:0!important; }
.m-1 { margin:.25rem!important; }
.m-2 { margin:.5rem!important; }
.m-3 { margin:1rem!important; }
.m-4 { margin:1.5rem!important; }
.m-5 { margin:3rem!important; }

.p-0 { padding:0!important; }
.p-1 { padding:.25rem!important; }
.p-2 { padding:.5rem!important; }
.p-3 { padding:1rem!important; }
.p-4 { padding:1.5rem!important; }
.p-5 { padding:3rem!important; }
*/

body {
    /*margin: 0;*/
    /*padding-bottom: 3rem;*/
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;*/
}

#form {
    background: rgba(0, 0, 0, 0.15);
    /*padding: 0.25rem;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*display: flex;*/
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    /*border: none;*/
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    /*margin: 0.25rem;*/
}

#input:focus {
    outline: none;
}

#form > button {
    /*background: #333;*/
    /*border: none;*/
    /*padding: 0 1rem;*/
    /*margin: 0.25rem;*/
    border-radius: 3px;
    outline: none;
    /*color: #fff;*/
}

#messages {
    list-style-type: none;
    /*margin: 0;*/
    /*padding: 0;*/
}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}